---
import TeamCard from './TeamCard.astro';
import { getTeams } from '../services/teams'

const data = await getTeams();
console.log(data);
---
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    data.map(team => <TeamCard 
      id={team.id}
      abbreviation={team.abbreviation}
      city={team.city}
      conference={team.conference}
      division={team.division}
      fullName={team.full_name}
      name={team.name}
    />)
  }

</div>